.DS_Store
/node_modules
/vendor
/src/vendor
/src/vendor/*
/nbproject
*.swp
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editórconfig
.env.example
.gitattributes
.styleci.yml
.vagrant/
Vagrantfile
after.sh
aliases
.idea/
.rnd
/etc/
docker-entrypoint.sh
# Archivos temporares del Storage
/src/storage/logs/*
/src/storage/framework/cache/*
/src/storage/framework/sessions/*
/src/storage/framework/views/*
